.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

div.contactform {
  text-align: left;
  max-height: 500px;
  overflow-y: scroll;
}